# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

.done/
.working/
.vscode/
*.exe
.interview
computer_networks/
.study/inflearn/**/*.*
!.study/inflearn/**/*.cpp

*.dSYM/
.DS_Store

